<ion-view view-title="Use This" name="login-view">
  <ion-content class="padding frontpage">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="email" ng-model="data.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="loginUser()">Login</button>
  </ion-content>
</ion-view>