<ion-view view-title="Use This!">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Fridge</div>
      <div class="item item-body">
        <div>
          A list of the contents of the fridge
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Freezer</div>
      <div class="item item-body">
        <div>
          Future iterations will include multiple storage locations.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Pantry</div>
      <div class="item item-body">
        <div>
          Because some things are kicking around for a long long time indeed.
          And we don't keep flour in the fridge.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
