<ion-view view-title="Preferences">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Reminders</div>
      <div class="item item-body">
        <div>
          When do you want to be reminded about dinner?

			<div class="list">

				<label class="item item-input item-select">
					<div class="input-label">
					Time of Day
					</div>

					<select>
					<option selected>Morning</option>
					<option>Afternoon</option>
					<option>Evening (will remind you for tomorrow)</option>
					</select>
				</label>

			</div>

      </div>
    </div>
  </ion-content>
</ion-view>
