<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Fridge Tab -->
  <ion-tab title="Fridge" icon-off="ion-pizza" icon-on="ion-pizza" href="#/tab/fridge">
    <ion-nav-view name="tab-fridge"></ion-nav-view>
  </ion-tab>

  <!-- Add Food Tab -->
  <ion-tab title="Add Food" icon-off="ion-compose" icon-on="ion-compose" href="#/tab/add-food">
    <ion-nav-view name="tab-add-food"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Preferences" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
